# Игнорировать папку с данными
/data/

# Игнорировать временные файлы и папки IDE (например, для VSCode или PyCharm)
.vscode/
.idea/

# Игнорировать файлы Python
*.pyc
__pycache__/

# Игнорировать файлы Jupyter
.ipynb_checkpoints/

# Игнорировать файлы с логами
*.log
